:root {
  --red-0: #ff0000;
  --red-1: #ff5252;
  --red-2: #ff7c7c;
  --red-3: #ffafaf;
  --red-4: #ffd0d0;
  --red-5: #ffe4e4;
  --red-5-5: #ffecec;
  --red-6: #fff3f3;

  --color-default-font: black;
  --color-default: #555;
  --color-grey: #999;
  --color-border: var(--red-3);
  --color-link: var(--red-1);
  --color-dark-link: darken(#ff5252, 20%);
  --color-background: #eee;
  --color-code-background: #f5f5f5;
  --color-sidebar-text: #777;
  --color-header-background: rgba(255, 255, 255, 0.9);
  --color-footer-background: #fff;
  --color-mobile-nav-background: #fff;
  --color-wrap: #fff;
  --color-twitter: #00aced;
  --color-facebook: #3b5998;
  --color-pinterest: #cb2027;
  --color-linkedin: #0077b5;
  --color-dark-twitter: darken(#00aced, 20%);
  --color-dark-facebook: darken(#3b5998, 20%);
  --color-dark-pinterest: darken(#cb2027, 20%);
  --color-dark-linkedin: darken(#0077b5, 20%);

  --color-h2-border: #eee;
  --color-meta-shadow: --var(--red-6);
  --color-hover-shadow: rgba(150, 150, 150, 0.1);
  --color-h2-after: rgba(255, 0, 0, 0.6);
  --color-h2-after-shadow: rgba(255, 78, 106, 0.7);
}

[data-theme="dark"]:root {
  --red-0: #ff5252;
  --red-1: #ff5252;
  --red-2: #ff7c7c;
  --red-3: #ffafaf;
  --red-4: rgba(255, 208, 208, 0.5);
  --red-5: rgba(255, 228, 228, 0.2);
  --red-5-5: rgba(255, 236, 236, 0.1);
  --red-6: rgba(255, 243, 243, 0.2);

  --color-default-font: #999;
  --color-default: #999;
  --color-grey: #999;
  --color-border: var(--red-5);
  --color-link: var(--red-1);
  --color-dark-link: darken(#ff5252, 20%);
  --color-background: #21252b;
  --color-code-background: rgba(232, 232, 232, 0.2);
  --color-sidebar-text: #777;
  --color-header-background: #222222;
  --color-footer-background: #21252b;
  --color-mobile-nav-background: #21252b;
  --color-wrap: #272b30;
  --color-twitter: #00aced;
  --color-facebook: #3b5998;
  --color-pinterest: #cb2027;
  --color-linkedin: #0077b5;
  --color-dark-twitter: darken(#00aced, 20%);
  --color-dark-facebook: darken(#3b5998, 20%);
  --color-dark-pinterest: darken(#cb2027, 20%);
  --color-dark-linkedin: darken(#0077b5, 20%);

  --color-h2-border: #47474a;
  --color-meta-shadow: rgba(0, 0, 0, 0.2);
  --color-hover-shadow: rgba(0, 0, 0, 0.2);
  --color-h2-after: #ff5252;
  --color-h2-after-shadow: rgba(255, 78, 106, 0.7);
  img {
    filter: brightness(70%);
  }
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 100%
}

body {
  color: #000;
  background: #fff;
  line-height: 1
}

ol,ul {
  list-style: none
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle
}

caption,th,td {
  text-align: left;
  vertical-align: middle;
  font-weight: 400
}

a img {
  border: none
}

h1,h2,h3,h4,h5,h6 {
  font-family: Mulish,Noto Serif SC,Noto Serif JP,-apple-system,PingFang SC,Microsoft YaHei,sans-serif;
  font-weight: 700
}

input,button {
  margin: 0;
  padding: 0
}

input::-moz-focus-inner {
  border: 0;
  padding: 0
}

button::-moz-focus-inner {
  border: 0;
  padding: 0
}

body {
  background: var(--color-background);
  -webkit-text-size-adjust: 100%;
  font-family: Mulish, -apple-system, "PingFang SC", "Microsoft YaHei",
    sans-serif;
  transition: all 0.3s ease;
}

.popoverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2080;
  background-color: rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {
  ::-webkit-scrollbar,
  ::-webkit-scrollbar-track {
    background-color: #616161;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--red-3);
}
