---
import BaseLayout from "../layouts/BaseLayout.astro";
import { __ } from "../utils/i18n";
---

<BaseLayout>
  <!-- Header -->
  <div slot="header">
    <a href="/" id="logo">
      <h1>{__("not_found.title")}</h1>
    </a>
  </div>
  {
    (
      <h2 id="subtitle-wrap" slot="header">
        <a href="/" id="subtitle">
          {__("not_found.subtitle")}
        </a>
      </h2>
    )
  }
</BaseLayout>

<style>
  #logo h1 {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    display: inline-block;
    width: 80%;
    transform: translateY(-20%);
    text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 959px) {
      width: 90%;
      font-size: 35px;
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
      width: 95%;
      font-size: 30px;
    }

    @media screen and (max-width: 479px) {
      width: 100%;
      font-size: 30px;
    }
  }

  #subtitle-wrap {
    margin-top: 18px;
  }

  #subtitle {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 1px;

    @media screen and (max-width: 959px) {
      font-size: 15px;
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
      width: 95%;
      font-size: 14px;
    }

    @media screen and (max-width: 479px) {
      width: 100%;
      font-size: 13px;
    }
  }
</style>
