---
import { SITE, FOOTER } from "../utils/config";
import { __ } from '../utils/i18n';
import { Icon } from "astro-icon/components";
import { totalCount, totalReadingTime } from "../utils/wordCount";
const totalcount = await totalCount();
const totalmin2read = await totalReadingTime();
---

<footer id="footer" data-aos="fade-up">
  <div style="width: 100%; overflow: hidden">
    <div class="footer-line"></div>
  </div>
  <div class="outer">
    <div id="footer-info" class="inner">
      <div>
        <Icon name="tabler:copyright" />
        {FOOTER.since}-{new Date().getFullYear()}
        <span class="footer-info-sep"></span>
        {SITE.author || SITE.title}
      </div>
      {
        FOOTER.powered && (
          <div>
            {__("powered_by")}&nbsp;
            <a href="https://astro.build/" target="_blank">
              Astro
            </a>
            &nbsp; Theme.
            <a
              href="https://github.com/D-Sketon/hexo-theme-reimu"
              target="_blank"
            >
              Reimu
            </a>
          </div>
        )
      }
      {
        FOOTER.count && (
          <div>
            <Icon name="tabler:brush" />&nbsp;
            {totalcount}
            &nbsp;|&nbsp;
            <Icon name="tabler:coffee" />&nbsp;
            {totalmin2read}
          </div>
        )
      }
      {
        FOOTER.busuanzi && (
        <div>
          <Icon name="tabler:eye-filled" />&nbsp;
          <span id="busuanzi_container_site_pv">{__('busuanzi.pv')}&nbsp;<span id="busuanzi_value_site_pv"></span></span>
          &nbsp;|&nbsp;
          <Icon name="tabler:user-filled" />&nbsp;
          <span id="busuanzi_container_site_uv">{__('busuanzi.uv')}&nbsp;<span id="busuanzi_value_site_uv"></span></span>
        </div>
        )
      }
    </div>
  </div>
</footer>

<style>
  #footer {
    background: linear-gradient(
      to top,
      var(--color-footer-background) 50%,
      transparent
    );
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
    padding: 40px 0 20px 0;
    color: var(--color-grey);

    &:hover {
      .footer-line {
        transition: opacity 0.3s ease;
        opacity: 0.5;
      }
    }

    a {
      color: var(--color-link);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-line {
    margin-top: 20px;
    opacity: 0.3;
    width: 200%;
    height: 10px;
    background-image: linear-gradient(
      to left,
      rgba(255, 0, 0, 0.75) 50%,
      transparent 0%
    );
    background-size: 100px 10px;
    background-repeat: repeat-x;
    transition: opacity 0.3s;
    margin-bottom: 40px;
    animation: transform-all 3s infinite;
    animation-timing-function: linear;
    filter: drop-shadow(0px 0px 2px red);
  }

  #footer-info {
    line-height: line-height;
    font-size: 0.85em;
    width: 100%;
    margin: 0;

    div {
      margin: 5px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 24px;
    }
  }

  .footer-info-sep {
    width: 25px;
    height: 25px;
    opacity: 0.6;
    background: url("/images/taichi.png") no-repeat center / 80%;
    animation: rotate-all 3s infinite;
    animation-timing-function: linear;
  }

  @keyframes rotate-all {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes transform-all {
    100% {
      transform: translateX(-100px);
    }
  }
</style>
