---
import { Icon } from "astro-icon/components";
import { totalCount, totalReadingTime } from "../utils/wordCount";
import { SITE, FOOTER, BASE_URL } from "../utils/config";
import { __ } from "../utils/i18n";
import SocialList from "./SocialList.astro";

const totalcount = await totalCount();
const totalmin2read = await totalReadingTime();
---

<footer id="footer">
  <div style="width: 100%; overflow: hidden">
    <div class="footer-line"></div>
  </div>
  <div class="outer">
    <div id="footer-info" class="inner">
      <SocialList />
      <div>
        <Icon name="fa6-regular:copyright" />
        {FOOTER.since}-{new Date().getFullYear()}
        <span class="footer-info-sep"></span>
        {SITE.author || SITE.title}
      </div>
      {
        FOOTER.powered && (
          <div>
            {__("powered_by")}&nbsp;
            <a
              href="https://astro.build/"
              rel="noopener external nofollow noreferrer"
              target="_blank"
            >
              Astro
            </a>
            &nbsp; Theme.
            <a
              href="https://github.com/D-Sketon/astro-theme-reimu"
              rel="noopener external nofollow noreferrer"
              target="_blank"
            >
              Reimu
            </a>
          </div>
        )
      }
      {
        FOOTER.count && (
          <div>
            <Icon name="fa6-solid:paintbrush" />
            &nbsp;
            {totalcount}
            &nbsp;|&nbsp;
            <Icon name="fa6-solid:mug-saucer" />
            &nbsp;
            {totalmin2read}
          </div>
        )
      }
      {
        FOOTER.busuanzi && (
          <div>
            <Icon name="fa6-solid:eye" />
            &nbsp;
            <span id="busuanzi_container_site_pv">
              {__("busuanzi.pv")}&nbsp;
              <span id="busuanzi_value_site_pv" />
            </span>
            &nbsp;|&nbsp;
            <Icon name="fa6-solid:user" />
            &nbsp;
            <span id="busuanzi_container_site_uv">
              {__("busuanzi.uv")}&nbsp;
              <span id="busuanzi_value_site_uv" />
            </span>
          </div>
        )
      }
    </div>
  </div>
</footer>

<style lang="stylus" define:vars={{ imageUrl: 'url('+`${BASE_URL}/images/taichi.png`+')' }}>
  #footer {
    background: linear-gradient(
      to top,
      var(--color-footer-background) 50%,
      transparent
    );
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
    padding: 40px 0 20px 0;
    color: var(--grey-9);

    &:hover {
      .footer-line {
        transition: opacity 0.3s;
        opacity: 0.5;
      }
    }

    a {
      color: var(--color-link);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-line {
    margin-top: 20px;
    opacity: 0.3;
    width: 200%;
    height: 10px;
    background: linear-gradient(to left, var(--red-1) 50%, transparent 0%) repeat-x 0 0 / 100px 10px;
    background-size: 100px 10px;
    background-repeat: repeat-x;
    transition: opacity 0.3s;
    margin-bottom: 20px;
    animation: transform-all 3s infinite;
    animation-timing-function: linear;
    filter: drop-shadow(0px 0px 2px var(--red-1));
  }

  #footer-info {
    line-height: line-height;
    font-size: 0.85em;
    width: 100%;
    margin: 0;

    div {
      margin: 5px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 24px;
    }
  }

  .footer-info-sep {
    width: 25px;
    height: 25px;
    opacity: 0.8;
    background: var(--imageUrl) no-repeat center / 80%;
    animation: rotate-all 3s infinite;
    animation-timing-function: linear;
  }

  @keyframes rotate-all {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes transform-all {
    100% {
      transform: translateX(-100px);
    }
  }
</style>
