---
import type { HTMLAttributes } from "astro/types";
import { BASE_URL } from '../utils/config';
import { Icon } from "astro-icon/components";

type Props = HTMLAttributes<"a">;

const { href, ...props } = Astro.props;
---

<span class="main-nav-link-wrap">
   <Icon name="fa6-solid:yin-yang" class="main-nav-icon" size={24} />
  <a class="main-nav-link" href={href} {...props}><slot /></a>
</span>

<style lang="stylus" define:vars={{ imageUrl: 'url('+`${BASE_URL}/images/taichi.png`+')' }}>
  .main-nav-link-wrap {
    padding: 0 15px;
    display: flex;
    opacity: 0.8;
    transition: 0.3s;
    line-height: 16px;
    font-size: 16px;

    @media screen and (max-width: 767px) {
      padding: 0;
    }

    @media screen and (max-width: 479px) {
      .main-nav-icon {
        display: none;
      }
    }

    &:hover {
      opacity: 1;
    }
    &:hover .main-nav-icon {
      transform: rotate(90deg) scale(1.1);
    }
  }

  .main-nav-link {
    color: var(--red-0);
    opacity: 0.8;
    text-decoration: none;
    transition: opacity 0.2s;
    display: block;
    padding: 20px 15px;
    font-weight: 400;
    letter-spacing: 1px;
    font-weight: 700;
  }
  .main-nav-icon {
    opacity: 0.8;
    color: var(--red-0);
    text-decoration: none;
    display: block;
    padding: 16px 10px;
    transform: rotate(90deg);
    transition: all 0.3s;
    cursor: pointer;
    will-change: transform;
  }
</style>
