---
type Props = {
  title: string;
  url: string;
};

const { title, url } = Astro.props;
---

<div>
  <a href={url} id="logo">
    <h1 data-aos="slide-up">{title}</h1>
  </a>
</div>

<style lang="stylus">
  h1 {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    display: inline-block;
    width: 80%;
    transform: translateY(-20%);
    text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 959px) {
      width: 90%;
      font-size: 35px;
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
      width: 95%;
      font-size: 30px;
    }

    @media screen and (max-width: 479px) {
      width: 100%;
      font-size: 30px;
    }
  }
</style>
