---
import { Icon } from "astro-icon/components";
import { SOCIAL } from "../utils/config";
---

<div class="footer-social">
  {
    SOCIAL &&
      Object.keys(SOCIAL).map((social) => {
        let name = `fa6-brands:${social}`;
        if (social === "email") {
          name = "fa6-solid:envelope";
        }

        return (
          <a
            href={(SOCIAL as any)[social]}
            aria-label={social}
            rel="noopener external nofollow noreferrer"
            target="_blank"
          >
            <Icon name={name} scale={16} />
          </a>
        );
      })
  }
</div>

<style lang="stylus">
  .footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.6rem;
    flex-wrap: wrap;

    svg {
      color: var(--grey-9);
      width: 2rem;
      height: 2rem;
      opacity: 0.6;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }
    }
  }
</style>
