---
import { Icon } from "astro-icon/components";
import { BASE_URL } from "../../utils/config";

type Props = {
  tags: string[];
};

const { tags } = Astro.props;
---

<ul class="article-tag-list">
  {
    tags.map((tag) => {
      return (
        <li class="article-tag-list-item" data-aos="zoom-in">
          <Icon name="fa6-solid:tag" style="margin-right: 10px"/>
          <a
            class="article-tag-list-link"
            href={`${BASE_URL}/tags/${tag}`}
            rel="tag"
          >
            {tag}
          </a>
        </li>
      );
    })
  }
</ul>

<style>
  .article-tag-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .article-tag-list-link {
    color: var(--red-1);
    text-decoration: none;
  }
  .article-tag-list-item {
    flex-shrink: 0;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--red-5);
    color: var(--red-1);
    border-radius: 20px;
    padding: 8px 15px;
    margin: 5px 10px 5px 0;
    display: flex;
    align-items: center;
    font-size: 12px;
    box-shadow: 0 0 5px 3px var(--color-meta-shadow);
  }
</style>
